.App {
  display: grid;
  width: 100%;
  grid-template-areas:
    "tree  tab  tab  tab  tab"
    "tree editor editor editor editor"
    "tree editor editor editor editor"
    "tree editor editor editor editor"
    "footer footer footer footer footer";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr) 20px;
}

.editor {
  grid-area: editor;
  height: 75vh;
  border: 1px solid red;
}
.tab {
  margin-bottom: 0;
}
#editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.tree {
  grid-area: tree;
  background: #61616157;
  overflow-y: scroll;
  max-height: 75vh;
}

.footer {
  grid-area: footer;
  background: #747474;
}
