/* *,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* body {
  display: block;
  font-family: Roboto, sans-serif;
} */

/*
App Container
*/
.App {
  display: grid;
  width: 100%;
  grid-template-areas:
    "left-panel left-panel tab tab tab tab tab tab tab gui gui gui"
    "left-panel left-panel editor editor editor editor editor editor editor gui gui gui"
    "left-panel left-panel editor editor editor editor editor editor editor gui gui gui"
    "left-panel left-panel editor editor editor editor editor editor editor gui gui gui"
    "left-panel left-panel editor editor editor editor editor editor editor gui gui gui"
    "left-panel left-panel editor editor editor editor editor editor editor gui gui gui"
    "left-panel left-panel editor editor editor editor editor editor editor gui gui gui";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 2em repeat(3, 1fr) 0.1fr;
}

/*
Editor Styling
*/
.editor {
  grid-area: editor;
  /* height: 75vh; */
}

/* Tab styles */
.tabContainer {
  display: -webkit-inline-box;
}
.tab {
  grid-area: tab;
  background: #3f4448;
}

ul {
  margin-left: 0;
  padding-left: 0;
  margin-bottom: 0;
}

.tabi > ul > li {
  list-style: none;
  padding: 0;
}
.tabi > ul > li > a {
  cursor: pointer;
  background: #041421;
  color: white;
  border-right: 1px solid #61dafb;
  text-decoration: none;
  padding: 1.05em 1em;
}
.tabName {
  position: relative;
  top: 5px;
}

.tab_name:hover .closeX {
  visibility: visible;
}

.closeX {
  visibility: hidden;
  color: white;
  position: relative;
  top: 5px;
  left: 7px;
}

#editor-container {
  height: 100vh;
  width: 100%;
  overflow: hidden;
}


/*
Footer Styling
*/
.footer {
  grid-area: footer;
  background: #61dafb;
}

/*
Tree Styling
*/
.left-panel {
  grid-area: left-panel;
  background: #61616157;
  overflow-y: scroll;
  display: grid;
  grid-template-areas: "project";
  grid-template-columns: auto;
  grid-template-rows: auto;
}
#project-dropdown {
  grid-area: "project";
  overflow-y: scroll;
}

.gui {
  grid-area: gui;
  background: #f5f5f5;
  overflow-y: scroll;
  max-height: 75vh;
}

#btn-updatefile {
  justify-self: center;
  padding: 8px;
  background: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s;
}
#open-folder-button:hover {
  background: #ded8ff;
  opacity: .6;
  font-weight: bold;
  border-radius: 10px;
}

/*
Utilities
*/
