*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: block;
  font-family: Roboto, sans-serif;
}

/*
App Container
*/
.App {
  display: grid;
  width: 100%;
  grid-template-areas:
    "tree  tab  tab  tab  tab"
    "tree editor editor editor editor"
    "tree editor editor editor editor"
    "tree editor editor editor editor"
    "footer footer footer footer footer";
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 2em repeat(3, 1fr) 25px;
}

/*
Editor Styling
*/
.editor {
  grid-area: editor;
  height: 75vh;
}

/* Tab styles */
.tabContainer {
  display: -webkit-inline-box;
}
.tab {
  grid-area: tab;
  background: #3f4448;
}

ul {
  margin-left: 0;
  padding-left: 0;
}
.tabi {
  border-right: 1px solid #3f4448;
}
.tabi > ul > li {
  list-style: none;
  padding: 0;
}
.tabi > ul > li > a {
  cursor: pointer;
  background: #041421;
  color: white;
  text-decoration: none;
  padding: 10px;
}
/* .nav > li {
  bottom: 0.7em;
}
.navbar-nav {
  margin: 0;
  margin-left: 0;
}
.navbar-nav > li > a {
  padding-bottom: 3px;
  margin-right: 1px;
  background: red;
  border-radius: 1px;
}
.navbar {
  height: 0;
  min-height: 30px;
  margin-bottom: 0;
}
.container {
  height: 0;
}
li {
  padding: 0;
} */
#editor-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*
Footer Styling
*/
.footer {
  grid-area: footer;
  background: #747474;
}

/*
Tree Styling
*/
.tree {
  grid-area: tree;
  background: #61616157;
  overflow-y: scroll;
  /* justify-content: left; */
}
li {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
  padding: 6px;
  list-style: none;
  color: #1f1f1f;
}
li:hover {
  color: #3f3f3f;
  font-weight: bold;
}

#btn-updatefile {
  justify-self: center;
  padding: 8px;
  background: none;
  font-weight: bold;
  border: 1px solid black;
  border-radius: 3px;
  transition: 0.1s;
}
#btn-updatefile:hover {
  background: #747474;
  font-weight: bold;
  border-radius: 15px;
}

/*
Utilities
*/
